version: 2.1
 
jobs:
  pytest-pr-tests:
    docker:
      - image: cimg/python:3.10
 
    steps:
      - checkout
 
      - run:
          name: Install Requirements
          command: |
            pip install -r requirements.txt
            pip install pytest
 
      - run:
          name: Run Pytest Tests
          command: |
            mkdir -p test-results
 
            pytest tests/ \
              --junitxml=test-results/pytest-results.xml \
> pytest.log 2>&1 || true
 
      - store_test_results:
          path: test-results
 
      - store_artifacts:
          path: pytest.log
          destination: pytest.log
 
      - store_artifacts:
          path: test-results/pytest-results.xml
          destination: pytest-results.xml
 
workflows:
  version: 2
  pr-workflow:
    jobs:
      - pytest-pr-tests
